.doc-controls__status {
    display: none;
}

.doc-controls__meta {
    gap: 0;
}

.doc-controls__list-item {
    padding-right: 20px;
}

.nav__link {
    padding-left: 10px;
}

.publish-many__toggle, .unpublish-many__toggle {
    display: none;
}