@use '../../lib/styles/tailwind';
@use '../../lib/styles/variables.scss';
@use '../../lib/styles/mixins.scss';
@use '../../lib/styles/typography';
@use '../../lib/styles/grid';
@use '../../lib/styles/containers';
@use '../../lib/styles/helpers';

:root {

    --font-heading: var(--font-dela-gothic-one);
    --font-body: var(--font-inclusive-sans);

    --header-height: 104px;
    --header-height-offset: calc(var(--header-height) + 1px);
    --header-height-desktop: 128px;
    --header-height-desktop-offset: calc(var(--header-height-desktop) + 1px);


    //Color variables fra designsystemet i Figma
    --bg-base: #FBF8F1;
    --bg-highlight: #3D59B0;
    --bg-subtle: #D8D5CD;
    --bg-section-1: #DF4739;
    --bg-section-2: #BDC9E7;

    --fg-base: #33261C;
    --fg-on-color: #FBF8F1;
    --fg-subtle: #BDC9E7;
    --fg-faded: #403B3B;
    --fg-highlight: #3D59B0;
    --fg-highlight-2: #DF4739;

    --button-primary: #DF4739;
    --button-secondary: #3D59B0;
    --button-primary-hover: #943128;
    --button-secondary-hover: #273972;
    --button-subtle: #C3B393;

    --button-text: #FFFFFF;
    --button-text-on-subtle: #000000;

    --border-base: #33261C;

    --input-bg: #FBFAF7;
    --input-subtle: #EAEAEA;
    --input-border: var(--border-base);

    --logo-blue: rgba(61, 89, 176, 0.77);
    --logo-brown: rgba(60, 30, 5, 0.73);    
    --logo-red: #DF4739;

     //Padding variables fra designsystemet i Figma
    --p-general: 0;
    --p-xs: 8px;
    --p-s: 12px;
    --p-base: 16px;
    --p-m: 20px;
    --p-l: 32px;
    --p-xl: 100px;
    --p-xxl: 265px;

    //Spacing variables fra designsystemet i Figma
    --space-general: 0;
    --space-xxs: 48px;
    --space-xs: 64px;
    --space-sm: 80px;
    --space-m: 96px;
    --space-l: 128px;
    --space-xl: 160px;
    --space-xxl: 320px;

}

* {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    background-color: var(--beige-light);
    font-family: var(--font-body);
}
